<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Resize · Xiaohouzi </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/bs-custom-file-input.min.js"></script>

  </head>

  <body>
    <form class="form-upload" method="POST" action="/upload" enctype="multipart/form-data">
      <h1 class="h3 mb-3 font-weight-normal">Drag in or choose</h1>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="file">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </body>

  <script src="/static/js/upload.js"></script>
</html>
